<?php
/**
 * Projet : {{ project_name }}
 * Langage : {{ language }}
 * Fichier : BaseController
 */

namespace App\Controllers;

class BaseController
{
    public function index()
    {
        echo "<h1>Bienvenue sur {{ project_name }}</h1>\n";
    }
}
