import api from '../api/axios.js';

export const authService = {
  register: async (userData) => {
    return await api.post('/users/register', userData);
  },

  login: async (credentials) => {
    return await api.post('/users/login', credentials);
  },

  getProfile: async () => {
    return await api.get('/users/profile');
  },

  updateProfile: async (updateData) => {
    return await api.put('/users/profile', updateData);
  },

  logout: () => {
    localStorage.removeItem('token');
    localStorage.removeItem('user');
  },

  setToken: (token) => {
    localStorage.setItem('token', token);
  },

  getToken: () => {
    return localStorage.getItem('token');
  },
};

export default authService;
