# {{ project_name }}

Ce projet a été généré automatiquement par **Archigen**.

## Type
Projet : {{ project_type }}
Langage : {{ language }}
Architecture : Clean Architecture

## Structure
Le dossier `src` contient la logique métier isolée de l'infrastructure.