"""
Projet : {{ project_name }}
Type : {{ project_type }}
Architecture : MVC
"""
from app.controllers.base_controller import BaseController

def main():
    controller = BaseController()
    controller.run()

if __name__ == "__main__":
    main()