# {{ project_name }} (MVC)

Ce projet utilise l'architecture **Model-View-Controller**.

## Structure
- **Models** : Données et logique BDD.
- **Views** : Interface utilisateur.
- **Controllers** : Chef d'orchestre.