<?php
/**
 * Projet : {{ project_name }}
 * Langage : {{ language }}
 * Architecture : API
 */
require __DIR__ . '/../vendor/autoload.php';

require __DIR__ . '/../routes/api.php';

echo "API {{ project_name }} démarrée.\n";
