
"""
Projet : {{ project_name }}
Architecture : Clean Architecture
Généré par Archigen
"""

def main():
    print("🚀 Bienvenue dans le projet {{ project_name }} !")
    print("Structure Clean Architecture chargée.")

if __name__ == "__main__":
    main()